* {
}

/* ===========================
header
============================== */
/* Warum hier kein Margin verändern? */
.header {
  padding-bottom: 3rem;
}

.header a {
  color: white;
  background-color: #336b87;
  border: none;
}

.header a:hover {
  color: white;
  background-color: #90afc5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.header a:active {
  color: white;
  background-color: #90afc5;
}

/* ===========================
zitate
============================== */
.icon-container svg {
  fill: #336b87;
}
